<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LAS-lib-tester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>LAStester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>LAStester1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>LAStester2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>LAStester3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>LibAudioStream CoreAudio+Jack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LibAudioStream PortAudio Intel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>LibAudioStream PortAudio+CoreAudio+Jack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LibAudioStream PortAudio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>testPlayer Intel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>testPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B0060101112ED0300B6A836</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B012946180415CC000735C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B7AFCBD17E9DF61005FA935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BA49DE4185F0D1E007749FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BBBF3A6172A7E210019A47E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BCB2B0E0D12ACE500AB3F6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BCB2BDC0D12B71300AB3F6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BEA6192095806CD001F733A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BEA61E7095806CD001F733A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BEA623D095806CD001F733A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BF819C11857ADA6009CD184</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
